{%extends "base.html"%}
{% load static %}
{% block title %} error {%endblock%}
{% block content %}
<header class="section default-header error-header full-height theme-dark" data-scroll-section>
    <div class="overlay overlay-dark"></div>
    {% include "components/navbar.html" %}
</div>
<div class="container medium">
<div class="row">
    <div class="flex-col">
        <h1 class="once-in"><span>Error 404</span>
            <span>Are you lost?</span>
        </h1>
        <p class="once-in">Sorry, the page you’re looking for doesn’t exist.</p>
        <div class="stripe once-in"></div>
        <div class="btn-row once-in">
            <div class="btn btn-round">
                <a href="{% url 'home' %}" class="btn-click magnetic"
                    data-strength="100" data-strength-text="50">
                    <div class="btn-fill"></div>
                    <span class="btn-text">
                        <span class="btn-text-inner">Back to home</span>
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>
</div>
</header>
<footer class="section footer footer-contact theme-dark" data-scroll-section>
<div class="container no-padding">
    <div class="row bottom-footer">
        <div class="flex-col">
            <div class="credits">
                <h5>Version</h5>
                <p>{{data.edition}} © Edition</p>
            </div>
            <div class="time">
                <h5>Local time</h5>
                <p><span id="timeSpan">09:41 PM CET</span></p>
            </div>
        </div>
        <div class="flex-col">
            <div class="socials">
                <h5>Socials</h5>
                <ul>
                    <li class="btn btn-link btn-link-external">
                        <a href="{{data.social_1}}" target="_blank"
                            class="btn-click magnetic" data-strength="20" data-strength-text="10">
                            <span class="btn-text">
                                <span class="btn-text-inner">{{data.social_1_name}}</span>
                            </span>
                        </a>
                    </li>
                    <li class="btn btn-link btn-link-external">
                        <a href="{{data.social_2}}" target="_blank"
                            class="btn-click magnetic" data-strength="20" data-strength-text="10">
                            <span class="btn-text">
                                <span class="btn-text-inner">{{data.social_2_name}}</span>
                            </span>
                        </a>
                    </li>
                    <li class="btn btn-link btn-link-external">
                        <a href="{{data.social_3}}" target="_blank"
                            class="btn-click magnetic" data-strength="20" data-strength-text="10">
                            <span class="btn-text">
                                <span class="btn-text-inner">{{data.social_3_name}}</span>
                            </span>
                        </a>
                    </li>
                    <li class="btn btn-link btn-link-external">
                        <a href="{{data.social_4}}" target="_blank"
                            class="btn-click magnetic" data-strength="20" data-strength-text="10">
                            <span class="btn-text">
                                <span class="btn-text-inner">{{data.social_4_name}}</span>
                            </span>
                        </a>
                    </li>
                </ul>
                <div class="stripe"></div>
            </div>
        </div>
    </div>
</div>
</footer>
{% endblock %}