{%extends "base.html"%}
{% load static %}
{% block title %} work {%endblock%}
{% block content %}
    
<header class="section default-header work-header" data-scroll-section>
    {% include "components/navbar.html" %}
</div>
    <div class="container medium">
       <div class="row">
          <div class="flex-col once-in">
             <h1><span>{{data.work_title_1}}</span><span>{{data.work_title_2}}</span></h1>
          </div>
       </div>
    </div>

 </header>
 <section class="section work-filters" data-scroll-section>
    <div class="container once-in">
       <div class="filter-row">
          <div class="toggle-row">
             <div class="btn btn-normal all-btn active">
                <div class="btn-click magnetic" data-strength="25" data-strength-text="15">
                   <div class="btn-fill"></div>
                   <span class="btn-text">
                      <span class="btn-text-inner change">All</span>
                   </span>
                </div>
             </div>
             <div class="btn btn-normal design-btn">
                <div class="btn-click magnetic" data-strength="25" data-strength-text="15">
                   <div class="btn-fill"></div>
                   <span class="btn-text">
                      <span class="btn-text-inner change">Design<div class="count-nr">{{design_number}}</div></span>
                   </span>
                </div>
             </div>
             <div class="btn btn-normal development-btn">
                <div class="btn-click magnetic" data-strength="25" data-strength-text="15">
                   <div class="btn-fill"></div>
                   <span class="btn-text">
                      <span class="btn-text-inner change">Development<div class="count-nr">{{development_number}}</div></span>
                   </span>
                </div>
             </div>
          </div>
          <div class="grid-row">
             <div class="btn btn-normal btn-icon rows-btn active">
                <div class="btn-click magnetic" data-strength="25" data-strength-text="15">
                   <div class="btn-fill"></div>
                   <span class="btn-text">
                      <span class="btn-text-inner change"><svg style="width: 20px;" width="20" height="19"
                            viewBox="0 0 20 19">
                            <g fill="currentColor" fill-rule="evenodd">
                               <path d="M0 6h20v1H0zM0 0h20v1H0zM0 12h20v1H0zM0 18h20v1H0z" />
                            </g>
                         </svg></span>
                   </span>
                </div>
             </div>
             <div class="btn btn-normal btn-icon columns-btn">
                <div class="btn-click magnetic" data-strength="25" data-strength-text="15">
                   <div class="btn-fill"></div>
                   <span class="btn-text">
                      <span class="btn-text-inner change"><svg style="width: 20px;" width="20" height="20"
                            viewBox="0 0 20 20">
                            <g fill="currentColor" fill-rule="nonzero">
                               <path
                                  d="M8 0H0v8h8V0zM7 1v6H1V1h6zM8 12H0v8h8v-8zm-1 1v6H1v-6h6zM20 0h-8v8h8V0zm-1 1v6h-6V1h6zM20 12h-8v8h8v-8zm-1 1v6h-6v-6h6z" />
                            </g>
                         </svg></span>
                   </span>
                </div>
             </div>
          </div>
       </div>
    </div>
 </section>
 <section class="section-wrap section-wrap-work once-in" data-scroll-section>
    <section class="section work-grid small-work-grid grid-fade grid-rows-part visible">
       <div class="container">
          <div class="grid-sub-title">
             <div class="flex-col">
                <h5>Client</h5>
             </div>
             <div class="flex-col">
                <h5>Location</h5>
             </div>
             <div class="flex-col">
                <h5>Services</h5>
             </div>
             <div class="flex-col">
                <h5>Year</h5>
             </div>
          </div>
          <ul class="work-items mouse-pos-list-image-wrap all-active">
            {% for project in projects %}
               {% if project.design == project.development %}
                  <li class="design development visible">
               {% elif project.development == True %}
                  <li class="development visible">
               {% elif project.design == True %}
                  <li class="design visible">
               {% endif %}
                    <div class="stripe animate"></div>
                    <a href="{% url 'project' project.name %}" class="row">
                    <div class="flex-col">
                        <h4><span>{{project.name}}</span></h4>
                    </div>
                    <div class="flex-col animate">
                        <p>{{project.location}}</p>
                    </div>
                    <div class="flex-col animate">
                        <p>{{project.category}}</p>
                    </div>
                    <div class="flex-col animate">
                        <p>{{project.year}}</p>
                    </div>
                    </a>
                </li>
            {% endfor %}
             <div class="stripe last animate"></div>
          </ul>
       </div>
    </section>
    <section class="section work-tiles grid-fade grid-columns-part">
       <div class="container">
          <ul>
            {% for project in projects %}
               {% if project.design == project.development %}
                  <li class="design development visible">
               {% elif project.development == True %}
                  <li class="development visible">
               {% elif project.design == True %}
                  <li class="design visible">
               {% endif %}
                    <div class="single-tile-wrap">
                    <a href="{% url 'project' project.name %}" class="row">
                        <div class="flex-col">
                            <div class="tile-image">
                                <div class="overlay overlay-color" style="background-color: #F1F1F1;"></div>
                                <div class="overlay overlay-image lazy"
                                style="background-position: center center; background-repeat: no-repeat; background-size: cover;"
                                data-bg="{{project.image.url}}">
                                </div>
                            </div>
                        </div>
                        <div class="flex-col">
                            <h4><span>{{project.name}}</span></h4>
                            <div class="stripe"></div>
                        </div>
                        <div class="flex-col">
                            <p>{{project.category}}</p>
                        </div>
                        <div class="flex-col">
                            <p>{{project.year}}</p>
                        </div>
                    </a>
                    </div>
                </li>
            {% endfor %}
          </ul>
       </div>
    </section>
 </section>

 {% include "components/footer.html" %}

{%endblock%}