<section class="section single-block block-fullwidth block_2" data-scroll-section>
    <div class="row">
       <div class="flex-col">
          <div class="single-image">
 
             <div class="overlay overlay-image playpauze" data-scroll data-scroll-speed="-3"><video class="overlay"
                   src="{{mockup.main_file.url}}"
                   loop muted playsinline></video></div>
             <div class="overlay dark-overlay" style="opacity: 0.2;"></div>
          </div>
       </div>
    </div>
 </section>