<section class="section single-block block-fullwidth block_2" data-scroll-section>
    <div class="row">
       <div class="flex-col">
          <div class="single-image">
 
             <img class="overlay overlay-image lazy" data-scroll data-scroll-speed="-3"
                src="{{mockup.main_file.url}}"
                data-src="{{mockup.main_file.url}}"
                width="1378" height="969" />
             <div class="overlay dark-overlay" style="opacity: 0;"></div>
          </div>
       </div>
    </div>
 </section>