<section class="section single-block block-mobile-devices block_4" data-scroll-section
   style="background-color: {{mockup.background_color}};">
   <div class="container no-padding block-padding-sides amount-3">
      <div class="row device-nodevice">
         <div class="flex-col block-padding-bottom">
            <div class="device" data-scroll data-scroll-target=".block_4" data-scroll-speed="1">
               <div class="single-image">

                  <img class="overlay overlay-image lazy"
                     src="{{mockup.file_1.url}}"
                     data-src="{{mockup.file_1.url}}"
                     width="1080" height="2191" />
               </div>
            </div>
         </div>
         <div class="flex-col block-padding-bottom">
            <div class="device">
               <div class="single-image">

                  <img class="overlay overlay-image lazy"
                     src="{{mockup.file_2.url}}"
                     data-src="{{mockup.file_2.url}}"
                     width="1080" height="2191" />
               </div>
            </div>
         </div>
         <div class="flex-col block-padding-bottom">
            <div class="device" data-scroll data-scroll-target=".block_4" data-scroll-speed="-1">
               <div class="single-image">

                  <img class="overlay overlay-image lazy"
                     src="{{mockup.file_3.url}}"
                     data-src="{{mockup.file_3.url}}"
                     width="1080" height="2186" />
               </div>
            </div>
         </div>
      </div>
   </div>
</section>