{% load static %}
<section class="section single-block block-mobile-devices block_2" data-scroll-section
    style="background-color: {{mockup.background_color}};">
    <div class="container no-padding block-padding-sides amount-3">
        <div class="row device-iphone13nonotch">
            <div class="flex-col block-padding-bottom">
                <div class="device" data-scroll data-scroll-target=".block_2" data-scroll-speed="1">
                    <div class="single-image">

                        <div class="overlay overlay-image playpauze"><video class="overlay"
                                src="{{mockup.file_1.url}}"
                                loop muted playsinline></video></div>
                    </div>
                    <div class="overlay-device-image">
                        <div class="overlay overlay-device"
                            style="background: url({% static 'mockup/device-iphone13-nonotch.png' %}) center center no-repeat; background-size: cover;">
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex-col block-padding-bottom">
                <div class="device">
                    <div class="single-image">

                        <img class="overlay overlay-image lazy"
                            src="{{mockup.file_2.url}}"
                            data-src="{{mockup.file_2.url}}"
                            width="540" height="1170" />
                    </div>
                    <div class="overlay-device-image">
                        <div class="overlay overlay-device"
                            style="background: url({% static 'mockup/device-iphone13-nonotch.png' %}) center center no-repeat; background-size: cover;">
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex-col block-padding-bottom">
                <div class="device" data-scroll data-scroll-target=".block_2" data-scroll-speed="-1">
                    <div class="single-image">

                        <img class="overlay overlay-image lazy"
                            src="{{mockup.file_3.url}}"
                            data-src="{{mockup.file_3.url}}"
                            width="540" height="1170" />
                    </div>
                    <div class="overlay-device-image">
                        <div class="overlay overlay-device"
                            style="background: url({% static 'mockup/device-iphone13-nonotch.png' %}) center center no-repeat; background-size: cover;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>