<section class="section single-block block-device block_1 block-padding-bottom "
   style="background-color: {{mockup.background_color}};" data-scroll-section>
   <div class="container">
      <div class="row device-nodevice">
         <div class="flex-col">
            <div class="device">
               <div class="single-image">

                  <div class="overlay overlay-image playpauze"><video class="overlay"
                        src="{{mockup.main_file.url}}"
                        loop muted playsinline></video></div>

               </div>
            </div>
         </div>
      </div>
   </div>
</section>