<div class="footer-rounded-div" data-scroll-section>
    <div class="rounded-div-wrap">
        <div class="rounded-div"></div>
    </div>
</div>
<div class="footer-wrap footer-footer-wrap theme-dark" data-scroll-section>
    <footer class="section footer" data-scroll data-scroll-speed="-4" data-scroll-position="bottom">
        <div class="container medium">
            <div class="row">
                <div class="flex-col">
                    <div class="arrow">
                        <?xml version="1.0" encoding="UTF-8"?>
                        <svg width="14px" height="14px" viewBox="0 0 14 14" version="1.1"
                            xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <title>arrow-up-right</title>
                            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g id="Artboard" transform="translate(-1019.000000, -279.000000)"
                                    stroke="#FFFFFF" stroke-width="1.5">
                                    <g id="arrow-up-right"
                                        transform="translate(1026.000000, 286.000000) rotate(90.000000) translate(-1026.000000, -286.000000) translate(1020.000000, 280.000000)">
                                        <polyline id="Path" points="2.76923077 0 12 0 12 9.23076923">
                                        </polyline>
                                        <line x1="12" y1="0" x2="0" y2="12" id="Path"></line>
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </div>
                    <h2><span>
                            <div class="profile-picture"></div>{{data.contact_title_1}}  
                        </span><span>{{data.contact_title_2}}</span></h2>
                </div>
            </div>
            <div class="row">
                <div class="flex-col">
                    <div class="stripe"></div>
                    <div class="btn-fixed">
                        <div class="btn btn-round" data-scroll data-scroll-speed="-1"
                            data-scroll-direction="horizontal" data-scroll-position="bottom"
                            data-scroll-offset="-50%, 0">
                            <a href="{% url 'contact' %}" class="btn-click magnetic "
                                data-strength="100" data-strength-text="50">
                                <div class="btn-fill"></div>
                                <span class="btn-text">
                                    <span class="btn-text-inner">Get in touch</span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="flex-col">
                    <div class="btn btn-normal">
                        <a href="mailto:{{data.email}}" class="btn-click magnetic"
                            data-strength="25" data-strength-text="15">
                            <div class="btn-fill"></div>
                            <span class="btn-text">
                                <span class="btn-text-inner change">{{data.email}}</span>
                            </span>
                        </a>
                    </div>
                    <div class="btn btn-normal">
                        <a href="tel:{{data.phone_number}}" class="btn-click magnetic" data-strength="25"
                            data-strength-text="15">
                            <div class="btn-fill"></div>
                            <span class="btn-text">
                                <span class="btn-text-inner change">{{data.phone_number}}</span>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container no-padding">
            <div class="row bottom-footer">
                <div class="flex-col">
                    <div class="credits">
                        <h5>Version</h5>
                        <p>{{data.edition}} © Edition</p>
                    </div>
                    <div class="time">
                        <h5>Local time</h5>
                        <p><span id="timeSpan">09:41 PM CET</span></p>
                    </div>
                </div>
                <div class="flex-col">
                    <div class="socials">
                        <h5>Socials</h5>
                        <ul>
                            <li class="btn btn-link btn-link-external">
                                <a href="{{data.social_1}}" target="_blank"
                                    class="btn-click magnetic" data-strength="20" data-strength-text="10">
                                    <span class="btn-text">
                                        <span class="btn-text-inner">{{data.social_1_name}}</span>
                                    </span>
                                </a>
                            </li>
                            <li class="btn btn-link btn-link-external">
                                <a href="{{data.social_2}}" target="_blank"
                                    class="btn-click magnetic" data-strength="20" data-strength-text="10">
                                    <span class="btn-text">
                                        <span class="btn-text-inner">{{data.social_2_name}}</span>
                                    </span>
                                </a>
                            </li>
                            <li class="btn btn-link btn-link-external">
                                <a href="{{data.social_3}}" target="_blank"
                                    class="btn-click magnetic" data-strength="20" data-strength-text="10">
                                    <span class="btn-text">
                                        <span class="btn-text-inner">{{data.social_3_name}}</span>
                                    </span>
                                </a>
                            </li>
                            <li class="btn btn-link btn-link-external">
                                <a href="{{data.social_4}}" target="_blank"
                                    class="btn-click magnetic" data-strength="20" data-strength-text="10">
                                    <span class="btn-text">
                                        <span class="btn-text-inner">{{data.social_4_name}}</span>
                                    </span>
                                </a>
                            </li>
                        </ul>
                        <div class="stripe"></div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div class="overlay overlay-gradient"></div>
</div>